@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500;700;900&display=swap');
/* Style Generals */
body{
    background-color: black;
    color: white;
}

:root{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Style Header */
header{
    background-color: black;
    top: 0;
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}

h1{
    font-size: 50px;
}

h1 > b{
    color: #ffc400;
    font-size: 70px;
    margin: 0px;
}

nav > ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav > ul > li{
    margin: 0px 20px;
}

nav > ul > li > a{
    text-decoration: none;
    font-size: 20px;
    color: #ffc400;
}

nav > ul > li > a:hover{
    color: #d9ccbb;
}

nav > ul > li:hover{
    color: #d9ccbb;
    transform: scale(1.1,1.1);
}

header > input{
    margin: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: black;
}

header > input:hover{
    transform: scale(1.1,1.1);
    border-color:#ffc400;
}

/* Style main */
main{
    margin: 30px;
}

/* Style Sections */
section{
    margin: 10% 30px;
}

article{
    padding: 20px;
}

h2{
    font-size: 50px;
}

/* Style Section Main */
.Principal{
    padding: 10px;
}

.auto{
    color: #ffc400;
}

.Principal > article{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Principal > article > p{
    text-align: justify;
    width: 90%;
    height: 40%;
    font-size: 150%;
}

.Principal > article > img{
    width: 40%;
    height: 40%;
    margin-top: -30px;
    margin-left: 30px;
    border-radius: 100%;
}

.Principal > article > p > a > button{
    margin: 0px 10px;
    outline: none;
    border: none;
    background-color: #ffc400;
    width: 40%;
    height: 20%;
    font-size: 120%;
    border-radius: 40px;
    cursor: pointer;
}

.Principal > article > p > a > button:hover{
    transform: scale(1.1);
    background-color: #d9ccbb;
}

/* Style Section About-me */
.Aboutme{
    width: 98%;
}

.Aboutme > .about-article{
    width: 98%;
}

.Aboutme > .about-article > .list-about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    list-style: none;
}

.Aboutme > .about-article > .list-about > .list{
    text-align: center;
    border: 5px inset #ffc400;
    border-radius: 30px;
    margin: 20px;
}

.Aboutme > .about-article > .list-about > .list > img{
    width: 90%;
    height: 200px;
    margin: 10px;
    border-radius: 60px;
}

.Aboutme > .about-article > .list-about > .list > h3{
    font-size: 30px;
    margin: 0px 35px;
}

.Aboutme > .about-article > .list-about > .list > p{
    text-align: justify;
    width: 90%;
    height: 40%;
    font-size: 20px;
    padding: 20px;
}

.Aboutme > .about-article > .list-about > .list:hover{
    cursor: pointer;
    transform: scale(1.12);
    background-color: black;
    box-shadow: inset 1px white;
}

/* Style Section Projects */
.projects{
    width: 98%;
}

.projects > .projects-article{
    width: 98%;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.projects > .projects-article > .project{
    margin: 10px;
    padding: 10px;
    width: 30%;
    text-align: center;
    border: 5px inset #ffc400;
    border-radius: 20px; 
}

.projects > .projects-article > .project:hover{
    transform: scale(1.1); 
    background-color: black;
}

.projects > .projects-article > .project > h3{
    font-size: 30px;
    margin: 0px 35px;
}

.projects > .projects-article > .project > img{
    margin: 10px;
    width: 95%;
    height: 20%;
    border-radius: 80px;
}

.projects > .projects-article > .project > p{
    text-align: justify;
    width: 90%;
    font-size: 20px;
    padding: 10px;
}

.projects > .projects-article > .project > a > button{
    margin: 0px 5px;
    outline: none;
    border: none;
    border: 5px inset #ffc400;
    background-color: #ffc400;
    width: 55%;
    font-size: 220%;
    border-radius: 40px;
    cursor: pointer;
}

.projects > .projects-article > .project > a > button:hover{
    background-color: #d9ccbb;
    transform: scale(1.2); 
}

/* Style Section contact */
.Contact{
    padding: 10px;
}

.Contact > article > form{
    padding: 30px;
    border: 5px inset #ffc400;
    border-radius: 40px;
    text-align: center;
    font-size: 180%;
}

.Contact > article > form > label{
    margin: 20px;
}

.Contact > article > form > input, textarea{
    width: 70%;
    text-align: center;
    font-size: 80%;
    border: 5px inset #ffc400;
    border-radius: 30px;
}

.Contact > article > form > .text{
    width: 30%;
    height: 30%;
}

.Contact > article > form > input[type="submit"]{
    width: 30%;
    height: 30%;
    font-size: 100%;
    background-color: #ffc400;
}

.Contact > article > form > input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Style footer */
footer{
    height: 200px;
    margin: auto;
    background-color: #ffc400;
    color: black;
    font-size: 200%;
    text-align: center;
    border-top: 3px inset white;
}

footer > h2 > a{
    color: black;
}

footer > a{
    color: black;
    font-size: 210%;
    margin: 0 20px;
}

/* ESTILO REPONSIVE */

@media (max-width: 500px) {
    /* Style Header */
header{
    width: 99%;

    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    position: inherit;
}

nav{
   width: 98%; 
}

/* Style main */
main{
    width: 97%;
    margin: 10px;
}


/* Style Section Main */
.Principal{
    width: 95%;
    padding: 10px;
}

.Principal > article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Principal > article > p{
    text-align: justify;
    width: 98%;
    font-size: 140%;

    margin: 10px;
}

.Principal > article > img{
    width: 90%;
    margin: 10px;
    border-radius: 100%;
}

.Principal > article > p > a > button{
    margin: 10px 10px;
    outline: none;
    border: none;
    background-color: #ffc400;
    width: 90%;
    font-size: 120%;
    border-radius: 40px;
    cursor: pointer;
}

/* Style Section About-me */

.Aboutme{
    width: 95%;
    padding: 0;
    margin: 0;
}

.Aboutme > .about-article > .list-about{
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

/* Style Section Projects */
.projects{
    width: 95%;
    margin: 0;
}

.projects > .projects-article{
    width: 95%;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects > .projects-article > .project{
    width: 90%;
}

/* Style Section contact */
.Contact{
    width: 95%;
    padding: 0px;
    margin: 0;
}

.Contact > article > form{
    width: 95%;
    padding: 10px;
    margin: 10px;
}

.Contact > article > form >  textarea{
    width: 95%;
    font-size: 98%;
}

.Contact > article > form > input[type="submit"]{
    width: 95%;
    font-size: 95%;
}

.Contact > article > form > input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Style footer */
footer{
    padding: 10px;
    margin: 0;

    width: 100%;
    height: auto;
    font-size: 200%;
    text-align: center;
    border-top: 3px inset white;
}

footer > a{
    color: black;
    font-size: 210%;
    margin: 0 20px;
}
  }

